@CHARSET "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body{
  background-image:url(images/house_river_sea_wooden_28581_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Open Sans",sans-serif;
  font-weight: lighter;
}

.main-container{
  width: 1200px;
  margin : 80px;
  border-radius: 0.5em;
  overflow: hidden;
  background-color:#221A32;

  -webkit-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.3);
  box-shadow: 0 3px 10px 5px rgba(0,0,0,0.3);

}
.main-container:hover{
  -webkit-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);
  -o-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);
  box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);

  transition: all 300ms ease-out;
}

.email-login-container{
  margin: 1.5em;

}

input[type="text"], [type="password"],[type="button"] {
  outline:none;
}
.input-box{
  color: rgba(255, 255, 255 ,0.5);;
  background-color: #2A1C49;
  width: 300px;
  height: 50px;
  border: none;
  padding-left: 0.5em;
  margin-bottom: 2em;
  outline: none;
}


.email-login-container h3{
  color: rgba(255, 255, 255, 0.8);
}



.label1{
	 color: rgba(255,255,255,0.5);
	 padding: 5px;
	 font-size: 15;
	
}

.image1{
	padding: 10px 10px 10px 10px;
}

