@CHARSET "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Open+Sans';
body{
  background-image:url(images/house_river_sea_wooden_28581_1920x1080.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center center center;
  font-family: "Open Sans",sans-serif;
  font-weight: lighter;
}

.main-container{
  width: 350px;
  margin: 50px auto;
  border-radius: 0.5em;
  overflow: hidden;
  background-color:#221A32;

  -webkit-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.3);
  -o-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.3);
  box-shadow: 0 3px 10px 5px rgba(0,0,0,0.3);

}
.main-container:hover{
  -webkit-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);
  -o-box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);
  box-shadow: 0 3px 10px 5px rgba(0,0,0,0.5);

  transition: all 300ms ease-out;
}

.email-login-container{
  margin: 1.5em;

}

input[type="text"], [type="password"],[type="button"] {
  outline:none;
}
.input-box{
  color: rgba(255, 255, 255 ,0.5);
  background-color: #2A1C49;
  width: 300px;
  height: 50px;
  border: none;
  padding-left: 0.5em;
  margin-bottom: 2em;

}

.login-button{
  color: rgba(255,255,255,0.5);
  background-color: rgba(83,47,169,0.8);
  width: 300px;
  height: 50px;
  border:none;
  font-size: 1em;
  cursor: pointer;
}

.login-button:hover{
  background-color:rgba(83,47,169,0.9);
  -webkit-transition: background-color 300ms ease-out ;
    -moz-transition: background-color 300ms ease-out ;
    -o-transition: background-color 300ms ease-out ;
    transition: background-color 300ms ease-out ;
}
.forget-pass-button {
  color: rgba(255,255,255, 0.5);
}

.forget-pass-button:hover{
  color:rgba(255, 255, 255, 0.8);
}
.email-login-container h3{
  color: rgba(255, 255, 255, 0.8);
}

.or-container{
  width: 300px;
  margin: 0 auto;
  height: 20px;
  border-bottom: 1px solid rgba(255,255,255,0.3);
  text-align: center;
  color:rgba(255, 255, 255, 0.5);;
}

.or-container span{
  font-size: 20px;
  background-color: #221A32;
  padding: 0 10px;

}


.social-login-container{

  margin-left: 1.5em;
}

.social-login-container h3{
  color: rgba(255, 255, 255, 0.8);
}

.social-login-container input{
  color: rgba(255,255,255,0.5);
  background-color: rgba(83,47,169,0.2);
  width: 300px;
  height: 50px;
  border:none;
  font-size: 1em;
  margin-bottom: 2em;
}

.sign-up-container{
  width: 300px;
  margin: auto;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.sign-up-container a{

  color: rgba(255,255,255,0.5);
  text-decoration:underline;

}

.sign-up-container a:hover{
  color:rgba(255,255,255,0.8);
}
